.card {
    width: 100%;
    max-width: 55%;
    margin: auto;
    margin-top: 8rem;
    padding: 1rem;
  }
  
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #333;
  }
  
  .head > div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  
  .head p {
    color: #16B660;
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  #completed {
    color: #008B5A;
  }
  
  .head span {
    background: var(--background-card);
    color: var(--color-span);
    padding: 0.2rem 0.8rem;
    border-radius: 999px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.6s ease;

  }
  
  @media (max-width: 768px) {
    .card {
      max-width: 78%;
      margin-top: 9rem;
    }
    
    .head {
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 1.5rem;
      padding-bottom: 2rem;
    }
    
    .head > div {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
    
    .head p {
      font-size: 1.2rem;
      margin-top: 2rem;
    }
    
    .head span {
      font-size: 1rem;
    }
  }
  