
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  :root {
      font-size: 62.5%; /* 1 rem = 1.0rem  com esta regra de 3 ou seja so dividir por 10 agora*/
    --background-head:#D9D9D9;
    --background-body:#C1C1C1;
    --background-input:#F2F2F2;
    --background-unilist:#FFFFFF;
    --card-color:Gray;
    --background-card:#D9D9D9;
    --color-span:#333333;
    --input-color:#333333;
    --icons-color:#252525;
    --textComplete-background:#EDEDED;
    --textIncomplete-background:#EDEDED;
    --background-delete:#EDEDED;


  }

  *:has(#darkmode){
    --background-head:#0D0D0D;
    --background-body:#1A1A1A;
    --background-input:#262626;
    --background-unilist:#262626;
    --card-color:#F2F2F2;
    --background-card:#333333;
    --color-span:#D9D9D9;
    --input-color:#F2F2F2;
    --icons-color:#FFFFFF;
    --textComplete-background:#333333;
    --textIncomplete-background:#333333;
    --background-delete:#333333;
    
  }

  
  body {
    background: var(--background-body);
    color: #F2F2F2;
    font-size: 1.4rem;
    height: 100vh;
    border-radius: 0.8rem;
    overflow: scroll;
    transition: background 0.5s ease-in-out;
  }
  
  body.fade-out {
    background: rgba(0, 0, 0, 0.7);
  }
  
  body.fade-in {
    background: var(--background-body);
  }
  

  body::-webkit-scrollbar{
    display: none;
  }
  
  button{
    cursor: pointer;
  }

 

 
