.empty{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    color: #808080;
    font-size: 1.6rem;
    vertical-align: top;
    margin: 5rem auto auto auto;
  }
  
  .empty div p:first-child {
      font-weight: bold;
    }
  
  .empty div p:nth-child(2) {
      padding-left: 0.3rem;
  }